body,
h1 {
  margin: 0;
}
body {
  overflow-x: hidden;
  background-color: ghostwhite;
}
* {
  font-family: semplicita_light;
}
@font-face {
  font-family: "semplicita_light";
  src: url("assets/Semplicita/Semplicita\ Light.otf");
}

@font-face {
  font-family: "semplicita_bold";
  src: url("assets/Semplicita/Semplicita\ Bold.otf");
}

.navbar {
  background-color: rgb(17, 107, 157);
  font-family: semplicita_light;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: right;
  width: 100%;
  height: 7vh;
  background: url("./assets/background.svg") no-repeat fixed;
  position: fixed;
  z-index: 1;
}
a {
  margin-right: 25px;
  position: relative;
  top: 20px;
  color: rgb(248, 248, 255);
  text-decoration: none;
}
.Landing {
  background: url("./assets/background.svg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.gradient {
  text-transform: uppercase;
  background: linear-gradient(to right, #2702c9 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  margin: 0 auto;
  animation: move 1.5s ease-in-out infinite;
  height: 100px;
}

.Education {
  background-color: ghostwhite;
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border-bottom: 2px solid black; */
}

.hard_header {
  height: 10%;
}

.edu_content {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.content_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-top: 50px;
  margin-left: 0;
}

.edu {
  background-color: ghostwhite;
  height: 33.33%;
  width: 100%;
  padding-left: 25px;
}
.border {
  border-width: 3px;
  border-style: solid;

  border-image: linear-gradient(to bottom, #0064a6, rgba(0, 0, 0, 0.3)) 1 100%;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #08456d;
  border-radius: 50%;
  margin-left: -32px;
  margin-top: -5px;
}

.content_right {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

h2 {
  font-family: semplicita_light;
  font-size: 32px;
  letter-spacing: 3px;
}
.Name {
  color: rgb(248, 248, 255);
  font-family: semplicita_light;
  font-size: 50px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  height: 70px;
}

.Discription {
  color: rgb(223, 223, 229);
  font-family: semplicita_light;
  font-size: 16px;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  height: 200px;
}

.landing_desc {
  margin-bottom: 40px;
}

@keyframes move {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.button_div {
  margin: 0 auto;
  height: 150px;
}

.scroll_button {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1;
  color: rgb(223, 223, 229);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 100px;
  width: 250px;
  height: 50px;
  outline: none;
  cursor: pointer;
}

.Experience {
  background-color: ghostwhite;
  height: 170vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

h3.left {
  font-family: semplicita_light;
  font-size: 16px;
  letter-spacing: 2px;
  width: 90%;
  text-align: right;
  margin-bottom: 40px;
  margin-top: -2px;
}

h4.left {
  font-family: semplicita_bold;
  font-size: 16px;
  letter-spacing: 1px;
  width: 90%;
  text-align: right;
}

h3.right {
  font-family: semplicita_light;
  font-size: 16px;
  letter-spacing: 2px;
  width: 65%;
  text-align: left;
  margin-bottom: 40px;
  margin-top: -12px;
}

h4.right {
  font-family: semplicita_light;
  font-size: 16px;
  letter-spacing: 1px;
  width: 65%;
  text-align: left;
  line-height: 24px;
  margin: 10px 10px 10px 20px;
}

.Skills {
  background-color: aquamarine;
  height: 93vh;
}
.space {
  padding-top: 20px;
}
.narrow {
  height: 25%;
}
